flows.json
[
    {
        "id": "fbae5d48e569c6c6",
        "type": "tab",
        "label": "Fluxo 1",
        "disabled": false,
        "info": "",
        "env": []
    },
    {
        "id": "6255a2a94230914b",
        "type": "mqtt in",
        "z": "fbae5d48e569c6c6",
        "name": "",
        "topic": "sep/sensores/humidity",
        "qos": "0",
        "datatype": "auto-detect",
        "broker": "122f3c49e3133d54",
        "nl": false,
        "rap": true,
        "rh": 0,
        "inputs": 0,
        "x": 100,
        "y": 100,
        "wires": [
            [
                "58804d111dae0aad",
                "8c9d92adbc71737d",
                "b2d71eba5c76a307"
            ]
        ]
    },
    {
        "id": "3a252b12f2b70744",
        "type": "mqtt in",
        "z": "fbae5d48e569c6c6",
        "name": "",
        "topic": "sep/sensores/temperature",
        "qos": "0",
        "datatype": "auto-detect",
        "broker": "2025468fe01288d8",
        "nl": false,
        "rap": true,
        "rh": 0,
        "inputs": 0,
        "x": 110,
        "y": 240,
        "wires": [
            [
                "71dfd8fdfeee04a3",
                "e11939c92657fb92",
                "43be0e2f580cfc46"
            ]
        ]
    },
    {
        "id": "71dfd8fdfeee04a3",
        "type": "debug",
        "z": "fbae5d48e569c6c6",
        "name": "debug 2",
        "active": true,
        "tosidebar": true,
        "console": false,
        "tostatus": false,
        "complete": "payload",
        "targetType": "msg",
        "statusVal": "",
        "statusType": "auto",
        "x": 320,
        "y": 260,
        "wires": []
    },
    {
        "id": "58804d111dae0aad",
        "type": "ui_gauge",
        "z": "fbae5d48e569c6c6",
        "name": "",
        "group": "8347de737ce076c9",
        "order": 0,
        "width": 0,
        "height": 0,
        "gtype": "gage",
        "title": "Umidade",
        "label": "units",
        "format": "{{value}}",
        "min": 0,
        "max": "100",
        "colors": [
            "#00b500",
            "#e6e600",
            "#ca3838"
        ],
        "seg1": "",
        "seg2": "",
        "diff": false,
        "className": "",
        "x": 340,
        "y": 100,
        "wires": []
    },
    {
        "id": "e11939c92657fb92",
        "type": "ui_chart",
        "z": "fbae5d48e569c6c6",
        "name": "",
        "group": "8347de737ce076c9",
        "order": 1,
        "width": 0,
        "height": 0,
        "label": "Temperatura",
        "chartType": "line",
        "legend": "false",
        "xformat": "HH:mm:ss",
        "interpolate": "linear",
        "nodata": "",
        "dot": false,
        "ymin": "",
        "ymax": "",
        "removeOlder": 1,
        "removeOlderPoints": "",
        "removeOlderUnit": "3600",
        "cutout": 0,
        "useOneColor": false,
        "useUTC": false,
        "colors": [
            "#1f77b4",
            "#aec7e8",
            "#ff7f0e",
            "#2ca02c",
            "#98df8a",
            "#d62728",
            "#ff9896",
            "#9467bd",
            "#c5b0d5"
        ],
        "outputs": 1,
        "useDifferentColor": false,
        "className": "",
        "x": 330,
        "y": 320,
        "wires": [
            []
        ]
    },
    {
        "id": "c953245ab523359b",
        "type": "mqtt out",
        "z": "fbae5d48e569c6c6",
        "name": "Temperatura e Umidade",
        "topic": "sep/temp_umid",
        "qos": "1",
        "retain": "false",
        "respTopic": "",
        "contentType": "",
        "userProps": "",
        "correl": "",
        "expiry": "",
        "broker": "6ec4dcef.913b24",
        "x": 870,
        "y": 160,
        "wires": []
    },
    {
        "id": "8a5ec887809207a4",
        "type": "function",
        "z": "fbae5d48e569c6c6",
        "name": "function 1",
        "func": "var temperature = flow.get(\"temperature\");\nvar humidity = flow.get(\"humidity\");\n\nif (typeof temperature !== 'number' || typeof humidity !== 'number') {\n    msg.payload = \"Dados de temperatura ou umidade não disponíveis\";\n} else {\n    msg.payload = \"Temperatura: \" + temperature + \"ºC e Umidade: \" + humidity + \"%\";\n}\n\nreturn msg;\n",
        "outputs": 1,
        "timeout": 0,
        "noerr": 0,
        "initialize": "",
        "finalize": "",
        "libs": [],
        "x": 600,
        "y": 180,
        "wires": [
            [
                "c953245ab523359b",
                "77e1cf3fddd6b03a"
            ]
        ]
    },
    {
        "id": "77e1cf3fddd6b03a",
        "type": "debug",
        "z": "fbae5d48e569c6c6",
        "name": "debug 3",
        "active": true,
        "tosidebar": true,
        "console": false,
        "tostatus": false,
        "complete": "true",
        "targetType": "full",
        "statusVal": "",
        "statusType": "auto",
        "x": 780,
        "y": 260,
        "wires": []
    },
    {
        "id": "8c9d92adbc71737d",
        "type": "debug",
        "z": "fbae5d48e569c6c6",
        "name": "debug 1",
        "active": true,
        "tosidebar": true,
        "console": false,
        "tostatus": false,
        "complete": "payload",
        "targetType": "msg",
        "statusVal": "",
        "statusType": "auto",
        "x": 340,
        "y": 40,
        "wires": []
    },
    {
        "id": "b2d71eba5c76a307",
        "type": "function",
        "z": "fbae5d48e569c6c6",
        "name": "function 2",
        "func": "flow.set(\"humidity\", msg.payload);\nreturn msg;\n",
        "outputs": 1,
        "timeout": 0,
        "noerr": 0,
        "initialize": "",
        "finalize": "",
        "libs": [],
        "x": 380,
        "y": 140,
        "wires": [
            [
                "8a5ec887809207a4"
            ]
        ]
    },
    {
        "id": "43be0e2f580cfc46",
        "type": "function",
        "z": "fbae5d48e569c6c6",
        "name": "function 3",
        "func": "flow.set(\"temperature\", msg.payload);\nreturn msg;\n",
        "outputs": 1,
        "timeout": 0,
        "noerr": 0,
        "initialize": "",
        "finalize": "",
        "libs": [],
        "x": 380,
        "y": 200,
        "wires": [
            [
                "8a5ec887809207a4"
            ]
        ]
    },
    {
        "id": "122f3c49e3133d54",
        "type": "mqtt-broker",
        "name": "",
        "broker": "broker.hivemq.com",
        "port": 1883,
        "clientid": "",
        "autoConnect": true,
        "usetls": false,
        "protocolVersion": 4,
        "keepalive": 60,
        "cleansession": true,
        "autoUnsubscribe": true,
        "birthTopic": "",
        "birthQos": "0",
        "birthRetain": "false",
        "birthPayload": "",
        "birthMsg": {},
        "closeTopic": "",
        "closeQos": "0",
        "closeRetain": "false",
        "closePayload": "",
        "closeMsg": {},
        "willTopic": "",
        "willQos": "0",
        "willRetain": "false",
        "willPayload": "",
        "willMsg": {},
        "userProps": "",
        "sessionExpiry": ""
    },
    {
        "id": "2025468fe01288d8",
        "type": "mqtt-broker",
        "name": "",
        "broker": "broker.hivemq.com",
        "port": 1883,
        "clientid": "",
        "autoConnect": true,
        "usetls": false,
        "protocolVersion": 4,
        "keepalive": "15",
        "cleansession": true,
        "autoUnsubscribe": true,
        "birthTopic": "",
        "birthQos": "0",
        "birthRetain": "false",
        "birthPayload": "",
        "birthMsg": {},
        "closeTopic": "",
        "closeQos": "0",
        "closeRetain": "false",
        "closePayload": "",
        "closeMsg": {},
        "willTopic": "",
        "willQos": "0",
        "willRetain": "false",
        "willPayload": "",
        "willMsg": {},
        "userProps": "",
        "sessionExpiry": ""
    },
    {
        "id": "8347de737ce076c9",
        "type": "ui_group",
        "name": "Temperatura e Umidade",
        "tab": "9e1b187ab2eadaee",
        "order": 1,
        "disp": true,
        "width": 6,
        "collapse": false,
        "className": ""
    },
    {
        "id": "6ec4dcef.913b24",
        "type": "mqtt-broker",
        "name": "",
        "broker": "broker.hivemq.com",
        "port": "1883",
        "clientid": "",
        "autoConnect": true,
        "usetls": false,
        "protocolVersion": "4",
        "keepalive": "15",
        "cleansession": true,
        "autoUnsubscribe": true,
        "birthTopic": "",
        "birthQos": "0",
        "birthPayload": "",
        "birthMsg": {},
        "closeTopic": "",
        "closePayload": "",
        "closeMsg": {},
        "willTopic": "",
        "willQos": "0",
        "willPayload": "",
        "willMsg": {},
        "userProps": "",
        "sessionExpiry": ""
    },
    {
        "id": "9e1b187ab2eadaee",
        "type": "ui_tab",
        "name": "Home",
        "icon": "dashboard",
        "disabled": false,
        "hidden": false
    }
]